{% extends 'base.html' %}

{% block content %}

    <!--Inner Navigation Menu-->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link {{ customer_list }}" href="{% url 'customer_list' %}">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ dealer }}" href="{% url 'dealer_list' %}">Dealers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ cmodel }}" href="{% url 'model_list' %}">Models</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ supplier_tab }}" href="{% url 'supplier_list' %}">Suppliers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ manufacturer_tab }}" href="{% url 'manufacturer_list' %}">Manufacturers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ sale_tab }}" href="{% url 'sale_list' %}">Sales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Inventory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Orders</a>
          <div class="dropdown-menu bg-dark">
              <a class="dropdown-item text-light" href="#">Parts Orders</a>
              <a class="dropdown-item text-light" href="#">Vehicle Orders</a>
          </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {{ reports_tab }}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
          <div class="dropdown-menu bg-dark">
              <a class="dropdown-item text-light" href="{% url 'sales_trend_report' %}">Sales Trends</a>
              <a class="dropdown-item text-light" href="#">Customer Recalls</a>
              <a class="dropdown-item text-light" href="{% url 'top_brands_report' %}">Top Brands</a>
              <a class="dropdown-item text-light" href="{% url 'convertible_sales_report' %}">Convertible Sales</a>
              <a class="dropdown-item text-light" href="{% url 'dealer_aging_report' %}">Dealer Aging</a>
          </div>
      </li>
    </ul>

        <!--Django Template Tags-->
        {% block entry %}

        {% endblock %}

    {% csrf_token %}
{% endblock %}