{% extends 'base.html' %}

{% block content %}

    <!--Inner Navigation Menu-->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link {{ customer_list }}" href="{% url 'customer_list' %}">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ dealer }}" href="{% url 'dealer_list' %}">Dealers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ cmodel }}" href="{% url 'model_list' %}">Models</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ supplier_tab }}" href="{% url 'supplier_list' %}">Suppliers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ manufacturer_tab }}" href="{% url 'manufacturer_list' %}">Manufacturers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Orders</a>
      </li>
    </ul>

        <!--Django Template Tags-->
        {% block entry %}

        {% endblock %}

    {% csrf_token %}
{% endblock %}