{% extends 'base.html' %}

{% block content %}

    <!--Inner Navigation Menu-->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'customer_list' %}">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dealers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Models</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Suppliers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Manufacturers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Orders</a>
      </li>
    </ul>

        <!--Django Template Tags-->
        {% block entry %}

        {% endblock %}

    {% csrf_token %}
{% endblock %}