{% extends 'admin_base.html' %}
{% block entry %}
    {% load static %}

    <br/>
    <div class="d-flex justify-content-center">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}

            <!--The Django Rendered form will appear here. -->
            <table>{{ form.as_table }}</table>

            <br/>

            <!--Submit button-->
            <div class="d-flex justify-content-center">
                <input type="submit" class="btn btn-dark" value="Submit">
            </div>

        </form>
    </div>
{% endblock %}